<!--TODO:点击检查后，回到main.py点运行-->
<html>
<head>
    <meta charset='UTF-8'>
    <title>万能搜索网站</title>
    <link href='/static/css/search.css' rel='stylesheet'>
</head>
<body>
    <img src='/static/images/txt.png'>
    
    <form action='/search_form'>
        <input name='word'>
        <button class='btn'>搜 索</button>
        <br><br>
        <input type='radio'  name='A组' value='a'>这个是彩蛋！
        <input type='radio'  name='A组' value='b'>这个才是真的彩蛋！
        <input type='radio'  name='A组' value='c'>相信我，点这个！
        <input type='radio'  name='A组' value='d'>中国人不骗中国人，这个是！
        <br><br>
        
    
        
        <br><br>
        <input type='radio' name='A组' value='video' checked>视频
        <input type='radio' name='A组' value='shop'>购物
        <input type='radio' name='A组' value='sound'>有声读物
        <input type='radio' name='A组' value='words'>词语
        <input type='radio' name='A组' value='image'>图片
        <input type='radio' name='A组' value='txt'>文档
        <input type='radio' name='A组' value='app'>App
    </form>
</body>
</html>
